doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/heroic-features.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-submenu.css')
    script(src='/javascripts/bootstrap-submenu.js')
  body
    nav(class='navbar navbar-inverse navbar-fixed-top', role='navigation')
      div(class='container')
        div(class='navbar-header')
          button(type='button', class='navbar-toggle', data-toggle='collapse', data-targer='#bs-example-navbar-collapse-1')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
            span(class='icon-bar')
            span(class='icon-bar')
          a(class='navbar-brand')
            img(style='max-width:43px; margin-top: -11px;', src='/images/logo.png')
          a(class='navbar-brand', href='/index') commix-testbed


    div(class='container')
      header(class='jumbotron hero-spacer')
        h2
          b Commix testbed - A command injection test environment!
        p A collection of web pages, vulnerable to 
          b 
            a(href='https://www.owasp.org/index.php/Command_Injection') command injection flaws
          | , used to test
          b 
            a(href='https://github.com/commixproject/commix') commix
          | 's vulnerability  
          b detection 
          | and 
          b exploitation  
          | features.
        
        p
        a(href='https://twitter.com/commixproject', class='twitter-follow-button', data-show-count='false') Follow @commixproject
        span 
        script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        
        iframe(src='https://ghbtns.com/github-btn.html?user=commixproject&repo=commix&type=star&count=true', frameborder='0', scrolling='0', width='170px', height='20px')
        div(class='text-center')

      div(class='container')
        block content
      
      hr
      footer
        div(class='row text-center')
          div(class='col-lg-12')
            p Made in Greece with 
              b &hearts; 
              | by 
              a(href="https://github.com/stasinopoulos") Anastasios Stasinopoulos
              | .
            a(href='https://twitter.com/ancst', class='twitter-follow-button', data-show-count='false') Follow @ancst
            script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
