extends layout

block content
  div(class='container')
    div(class='row')
      div(class='jumbotron hero-space')
        form(action='', method='GET') Ping address: 
          input(type='text', name='addr')
          input(value='Submit!', type='submit')
        br
        b #{ping_res}
        br
        b Server OS is: #{server_os}
        br
        b Exec Result: #{exec_res}